.background-color{
    background: rgb(244, 220, 193);
    background: linear-gradient(335deg, rgb(244, 220, 193) 0%, rgb(189, 109, 152) 67%);
    padding-top: 20px;
}

#intro, #projects, #contact, #home{
    color: #75194a;
    gap: 20px;
} 

#name{
    color: #75194a;
    font-family: 'Pacifico', cursive;
}

.hand-write-pink{
    color: #75194a;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-bottom: 20px;
}

.btn.emphasis, #current{
    background-color: #75194a;
    color: white;
}

.margin{
    padding: 80px;
}


button.light{
    color: #75194a;
    border-color: #75194a;
}
